/* custom css */
.col-sm-3.stockSymbol {border: solid 1px; min-height:150px;}
.stockSymbol:hover{background-color: #153649; color: #ffffff;}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

